body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.header {
    background: #fdebe4;
    padding: 20px 0;
}

.logo {
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-left: 15px;
}

.nav li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.section1 {
    background: #fdebe4;
    padding: 60px 0;
}

.section1-text {
    width: 50%;
    float: left;
}

.section1-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.section1-text p {
    font-size: 16px;
    margin-bottom: 25px;
}

.section1-image {
    width: 50%;
    float: right;
    text-align: right;
}

.section1-image img {
    width: 300px;
}

.features{
    text-align: center;
    padding: 60px 0;
}

.features h2{
    font-size: 32px;
}

.judul{
    margin-bottom: 40px;
    color: #777;
}

.feature-box{
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    padding: 20px;
}

.feature h4{
    margin-bottom: 10px;
}

.about {
    padding: 80px 0;
    background: #ffffff;
}

.image-about {
    width: 40%;
    float: left;
    text-align: center;
}

.image-about img {
    width: 300px;
    margin-top: 0px;
}

.judul-about {
    width: 50%;
    float: right;
    background: #ffffff;
    padding: 50px 35px;
    margin-top: 0;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
    border-radius: 6px;
}

.judul-about h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.judul-about p {
    font-size: 14px;
    color: #777;
    margin-bottom: 18px;
}

.judul-about ul {
    padding-left: 18px;
    margin: 0;
}

.judul-about ul li {
    font-size: 14px;
    margin-bottom: 7px;
}